@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <p>Calorie Tracking App</p>
    @if (Context.Session.GetString(Constants.IsAuthenticated) == "true")
    {
        @Html.ActionLink("Logout", "DeleteToken", "Token")
    }
    else
    {
        @Html.ActionLink("Login", "Create", "User")
    }
</div>
