@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <p>Calorie Tracking App</p>
    @if (Context.Session.GetString(Constants.IsAuthenticated) == "true")
    {
        <a class="nav-link text-dark" asp-area="" asp-controller="Token" asp-route-guid=@Context.Session.GetString(Constants.ApiKey) asp-action="DeleteToken">Logout</a>
    }
    else
    {
        @Html.ActionLink("Login", "Create", "User")
    }
</div>
